In [16]:
import pandas as  pd
from data_cleaning import DataCleaning

df = pd.read_csv('../data/artwork_data.csv')

# df = df.dropna()
# print(df.to_string())

/tmp/ipykernel_3541105/2431967383.py:4: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/artwork_data.csv')

In [17]:
data = DataCleaning(df)
show = data.drop_columns(sort='desc')
print(show)

Index(['year', 'width', 'url', 'units', 'title', 'thumbnailUrl',
       'thumbnailCopyright', 'medium', 'inscription', 'id', 'height',
       'dimensions', 'depth', 'dateText', 'creditLine', 'artistRole',
       'artistId', 'artist', 'acquisitionYear', 'accession_number'],
      dtype='object')

In [18]:
filtered_data = data.get_integers(df['year'])
average_year = filtered_data.mean()

print(filtered_data)
print("AVERAGE YEAR >>>", int(average_year))

0           NaN
1           NaN
2        1785.0
3           NaN
4        1826.0
          ...
69196    1975.0
69197    1976.0
69198    1996.0
69199    2000.0
69200    1764.0
Name: year, Length: 69201, dtype: float64
AVERAGE YEAR >>> 1867

In [19]:
width = data.get_integers(df['width'])
height = data.get_integers(df['height'])


area = width.__mul__(height)
avg_area = area.mean()

print("Area results:\n", area)
print("AVERAGE AREA >>>", round(avg_area, 4))

Area results:
 0        165086.0
1         66243.0
2        160181.0
3        125292.0
4         81405.0
           ...
69196     93025.0
69197     93025.0
69198    108450.0
69199         NaN
69200    335280.0
Length: 69201, dtype: float64
AVERAGE AREA >>> 271560.1555

In [20]:
df_A = pd.read_csv('../data/artist_data.csv')

# df.dropna()
# print(df.to_string())

In [21]:
data_birth_place = df_A['placeOfBirth'].astype(str)
print(data_birth_place)

data = []
for row in data_birth_place:
    data.append(row.split(', ')[-1])

new_df = pd.DataFrame(data)
new_df.dropna()
occurrences = new_df.value_counts()
print(occurrences)

new_df.value_counts(sort=True)
# new_df.value_counts(sort=True).plot.bar()

0                               Polska
1          Philadelphia, United States
2           Springfield, United States
3       Leicestershire, United Kingdom
4                Wigan, United Kingdom
                     ...
3527             Andorno Micca, Italia
3528         Des Moines, United States
3529                            Italia
3530                            Espa√±a
3531                            Polska
Name: placeOfBirth, Length: 3532, dtype: object
0
United Kingdom    1496
nan                492
United States      339
France             158
Deutschland        142
                  ...
Cameroun             1
Stoke on Trent       1
Suomi                1
Tanzania             1
Wimbledon            1
Name: count, Length: 128, dtype: int64

0
United Kingdom    1496
nan                492
United States      339
France             158
Deutschland        142
                  ...
Cameroun             1
Stoke on Trent       1
Suomi                1
Tanzania             1
Wimbledon            1
Name: count, Length: 128, dtype: int64